.about-root-case {
	position: relative;
	padding: 120px 12% 50px 12%;
	min-height: calc(100vh - 80px);
	z-index: 1;
}

.about-root-case p {
	font-size: 1.1em;
}

.interests-root-case {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5%;
	margin-top: 30px;
}

.interest-case {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: center;
	align-items: center;
	width: 30%;
	background-color: rgba(243, 246, 250, 0.04);
    border-radius: 8px;
    padding: 2.5em 2% 2em 2%;
    opacity: 0.4;
	transform: scale(1);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.interest-case:after {
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(14,16,18, 0.4);
}

.video-games:before {
	content: '';
	z-index:-2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("../../public/assets/Ori22.png");
	background-clip: border-box;
	background-size: auto 100%;
	transition: all 0.2s ease-out;
}

.illustration:before {
	content: '';
	z-index:-2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("../../public/assets/illustration2.png");
	background-clip: border-box;
	background-size: auto 100%;
	transition: all 0.2s ease-out;
}

.manual:before {
	content: '';
	z-index:-2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url("../../public/assets/tricot2.png");
	background-clip: border-box;
	background-size: auto 100%;
	transition: all 0.2s ease-out;
}

.interest-case.active:before {
	transform: scale(1.15);
	transition: all 1s ease-out;
}

.interest-case-title {
	text-align: center;
}

.interest-case.active {
	transform: scale(1.2);
	opacity: 1;
}

@media screen and (max-width: 1024px) {
	.interests-root-case {
		flex-direction: column;
		gap: 20px;
	}

	.interest-case {
		width: 100%;
		opacity: 1;
	}

	.interest-case.active {
		transform: none;
	}

	.video-games:before, .illustration:before, .manual:before {
		background-size: 100% auto;
	}
}