.about-root-case {
	position: relative;
	padding: 150px 12% 50px 12%;
	pointer-events: none;
	z-index: 1;
}

.interests-root-case {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5%;
	margin-top: 50px;
}

.interest-case {
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	background-color: rgba(243, 246, 250, 0.04);
    border-radius: 15px;
    padding: 2%;
    opacity: 0.5;
	transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.interest-case-title {
	font-weight: 400;
	margin: 1em 0;
}

.interest-case.active {
	transform: scale(1.2);
	opacity: 1;
}