.background {
	overflow: hidden;
/*	position: absolute;
	top: 0;
	left: 0;*/
/*    background-color: rgba(234, 230, 236, 1);*/
/*	height: calc(100% - 80px);*/
/*	width: 100vw;*/
/*	max-width: 100vw;*/
/*	z-index: -1;*/
}

.canvas {
/*	display: none;*/
	position: absolute;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: max(100vh, 100%);
    margin: 0;
    overflow: clip;
/*    max-height: 100vh;*/
/*    max-height: calc(100% - 10px);*/
/*    z-index: -1;*/
}

.canvas canvas {
	overflow-clip-margin: content-box;
    overflow: clip;
}