.header-wrapper {
	position: fixed;
	padding: 0 20px;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100vw;
    max-width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px rgba(243, 246, 250, 0.1);
	backdrop-filter: blur(2px) saturate(200%);
	height: 70px;
	transition: transform 0.5s;
}

.header-wrapper * {
	font-size: 1.1em;
	font-weight: 400;
}

.nav-wrapper {
	padding: 0 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
	color: rgba(19, 10, 22, 1);
}

.nav-element {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.nav-element:after {
	position: absolute;
	z-index: -1;
	content: '';
	width: 0%;
	height: 4px;
	bottom: 3px;
	left: -15%;
	right: -15%;
	margin: auto;
	background: -webkit-linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
	background: linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
	background-size: 400% 400%;
	-webkit-animation: gradient 6s ease infinite;
    animation: gradient 6s ease infinite;
	transition: 0.4s;
}

.nav-element:hover:after {
	width: 120%;
}

.nav-element.selected:after {
	width: 120%;
}

.header-hidden-desktop {
	transform: translate3d(0,-100%,0);
	transition: transform 0.5s;
}

.nav-contact {
	cursor: pointer;
	font-size: 0.9em;
    padding: 0.3em 0.8em;
    border-radius: 20px;
    border: 1px solid rgba(243, 246, 250, 0.8);
    background-color: rgba(243, 246, 250, 0.08);
}

.nav-contact:hover {
    background-color: rgba(243, 246, 250, 0.16);
}

.email-clicked {
	position: absolute;
	right: 50px;
	top: 60px;
	display: flex;
	flex-direction: row;
	gap: 5px;
	white-space: nowrap;
	height: 30px;
	font-size: 1.5em;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.email-text {
	font-family: 'Thisjuly';
}

.email-clicked svg {
	height: 80%;
	width: auto;
}

.email-clicked path {
	animation: starAnimate 1.5s infinite;
}

.email-clicked.hidden {
	opacity: 0;
}

@keyframes starAnimate {
	from {
		d: path("M 12 3 L 13.4302 8.3118 C 13.6047 8.96 13.692 9.2841 13.8642 9.549 C 14.0166 9.7835 14.2165 9.9834 14.451 10.1358 C 14.7159 10.308 15.04 10.3953 15.6882 10.5698 L 21 12 L 15.6882 13.4302 C 15.04 13.6047 14.7159 13.692 14.451 13.8642 C 14.2165 14.0166 14.0166 14.2165 13.8642 14.451 C 13.692 14.7159 13.6047 15.04 13.4302 15.6882 L 12 21 L 10.5698 15.6882 C 10.3953 15.04 10.308 14.7159 10.1358 14.451 C 9.9834 14.2165 9.7835 14.0166 9.549 13.8642 C 9.2841 13.692 8.96 13.6047 8.3118 13.4302 L 3 12 L 8.3118 10.5698 C 8.96 10.3953 9.2841 10.308 9.549 10.1358 C 9.7835 9.9834 9.9834 9.7835 10.1358 9.549 C 10.308 9.2841 10.3953 8.96 10.5698 8.3118 L 12 3 Z M 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 Z");
	}

	50% {
		d: path("M 12 12 L 12 12 C 12 12 12 12 12 12 C 12 12 12 12 12 12 C 12 12 12 12 12 12 L 12 12 L 12 12 C 12 12 12 12 12 12 C 12 12 12 12 12 12 C 12 12 12 12 12 12 L 12 12 L 12 12 C 12 12 12 12 12 12 C 12 12 12 12 12 12 C 12 12 12 12 12 12 L 12 12 L 12 12 C 12 12 12 12 12 12 C 0 0 12 12 12 12 C 12 12 12 12 12 12 L 12 12 Z M 27 10 L 28.4302 15.3118 C 28.6047 15.96 28.692 16.2841 28.8642 16.549 C 29.0166 16.7835 29.2165 16.9834 29.451 17.1358 C 29.7159 17.308 30.04 17.3953 30.6882 17.5698 L 36 19 L 30.6882 20.4302 C 30.04 20.6047 29.7159 20.692 29.451 20.8642 C 29.2165 21.0166 29.0166 21.2165 28.8642 21.451 C 28.692 21.7159 28.6047 22.04 28.4302 22.6882 L 27 28 L 25.5698 22.6882 C 25.3953 22.04 25.308 21.7159 25.1358 21.451 C 24.9834 21.2165 24.7835 21.0166 24.549 20.8642 C 24.2841 20.692 23.96 20.6047 23.3118 20.4302 L 18 19 L 23.3118 17.5698 C 23.96 17.3953 24.2841 17.308 24.549 17.1358 C 24.7835 16.9834 24.9834 16.7835 25.1358 16.549 C 25.308 16.2841 25.3953 15.96 25.5698 15.3118 L 27 10 Z");
	}

	to {
		d: path("M 12 3 L 13.4302 8.3118 C 13.6047 8.96 13.692 9.2841 13.8642 9.549 C 14.0166 9.7835 14.2165 9.9834 14.451 10.1358 C 14.7159 10.308 15.04 10.3953 15.6882 10.5698 L 21 12 L 15.6882 13.4302 C 15.04 13.6047 14.7159 13.692 14.451 13.8642 C 14.2165 14.0166 14.0166 14.2165 13.8642 14.451 C 13.692 14.7159 13.6047 15.04 13.4302 15.6882 L 12 21 L 10.5698 15.6882 C 10.3953 15.04 10.308 14.7159 10.1358 14.451 C 9.9834 14.2165 9.7835 14.0166 9.549 13.8642 C 9.2841 13.692 8.96 13.6047 8.3118 13.4302 L 3 12 L 8.3118 10.5698 C 8.96 10.3953 9.2841 10.308 9.549 10.1358 C 9.7835 9.9834 9.9834 9.7835 10.1358 9.549 C 10.308 9.2841 10.3953 8.96 10.5698 8.3118 L 12 3 Z M 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 L 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 C 27 19 27 19 27 19 L 27 19 Z");
	}
}

@media screen and (max-width: 768px) {
	.nav-wrapper {
		padding: 0 20px;
		gap: 25px;
	}
}

@media screen and (max-width: 425px) {
	.header-wrapper {
		left: 0;
		padding-right: 5px;
	}

	.nav-wrapper {
		font-size: 0.9em;
		padding: 0;
		gap: 10px;
	}

	.nav-burger {
		left: 10px;
	}

	.nav-element:hover:after {
		width: 115%;
	}

	.nav-element.selected:after {
		width: 115%;
	}
}

