.header-wrapper {
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border-bottom: solid 1px #c2bec4;
/*	border-bottom: solid 1px rgba(19, 10, 22, 1);*/
/*	background-color: white;*/
	backdrop-filter: blur(2px);
	height: 70px;
	transition: transform 0.5s;
}

.header-wrapper * {
	font-size: 1.1em;
	font-weight: 400;
}

.nav-wrapper {
	padding: 0 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
	color: rgba(19, 10, 22, 1);
}

.nav-element {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.nav-element:after {
	position: absolute;
	z-index: -1;
	content: '';
	width: 0%;
	height: 4px;
	bottom: 3px;
	left: -15%;
	right: -15%;
	margin: auto;
	background: -webkit-linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
	background: linear-gradient(-45deg,#6bc5f8,#cf59e6,#6bc5f8,#cf59e6);
	background-size: 400% 400%;
	-webkit-animation: gradient 6s ease infinite;
    animation: gradient 6s ease infinite;
	transition: 0.4s;
}

.nav-element:hover:after {
	width: 120%;
}

.nav-element.selected:after {
	width: 120%;
}

.header-hidden-desktop {
	transform: translate3d(0,-100%,0);
	transition: transform 0.5s;
}


@media screen and (max-width: 768px) {
	.nav-wrapper {
		padding: 0 20px;
		gap: 25px;
	}
}

@media screen and (max-width: 425px) {
	.header-wrapper {
		left: 0;
		padding-right: 5px;
	}

	.nav-wrapper {
		font-size: 0.9em;
		padding: 0;
		gap: 10px;
	}

	.nav-burger {
		left: 10px;
	}

	.nav-element:hover:after {
		width: 115%;
	}

	.nav-element.selected:after {
		width: 115%;
	}
}

