.home-global-container {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 70px;
	background-color: rgba(234, 230, 236, 1);;
}

.home-root-case {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin: auto;
/*	animation: append-animate 0.5s ease-out;*/
}

.home-content-container {
	display: flex;
	flex-direction: column;
	max-width: 1220px;
	padding: 100px 100px 0 200px;
}

.home-title h1 {
	font-size: 60px;
/*	font-weight: 500;*/
	margin: 0;
	margin-bottom: 30px;
}

.home-content-text {
	line-height: 3em;
}

.home-content-text p {
	font-size: 30px;
	margin: 0;
	line-height: 1.5em;
}

.home-content-text span {
	font-size: 70px;
	font-weight: 500;
	background: -webkit-linear-gradient(-45deg,#5699e9,#cf59e6,#5699e9,#cf59e6);
	background: linear-gradient(-45deg,#5699e9,#cf59e6,#5699e9,#cf59e6);
	background-size: 400% 400%;
	background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: gradient 6s ease infinite;
    animation: gradient 6s ease infinite;
}

.home-portrait-container {
	flex-shrink: 0;
	transform: translate3d(-200px, -125px, 0);
	bottom:50px;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	background-color: rgba(19, 10, 22, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
