.nav-burger {
	z-index: 6;
	position: fixed;
	top: 15px;
	left: 15px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f3f6fa;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.burger-svg-wrapper {
	position: relative;
	width: 40px;
	height: 20px;
}

.burger-svg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.burger-svg path {
	stroke: #0e1012;
	transition: d 0.4s;
}

.menu-open path:first-child {
	d: path("M 20 40 L 50 10");
}

.menu-open path:last-child {
	d: path("M 20 10 L 50 40");
}

.menu-open path:nth-child(2) {
	opacity: 0;
	d: path("M 35 25 L 35 25");
	transition: opacity 0.3s, d 0.2s;
}

@media screen and (max-width: 425px) {
	.nav-burger {
		left: 10px;
	}
}