.resume-global-case {
	width: 100%;
	min-height: 100vh;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.button-resume {
	position: relative;
	margin: auto;
	width: auto;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.button-resume a {
	text-decoration: none;
	font-size: 1.1em;
}

.resume-root-case {
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1200px;
	position: relative;
	gap: 2em;
}

.resume-column-left {
	flex-grow: 2;
}

.resume-column-right {
	display: flex;
	flex-direction: column;
	gap: 2em;
	flex-shrink: 2;
	min-width: 40%;
}

.experience-case {
	animation: append-animate 0.5s ease-out forwards;
}

.resume-case {
	padding: 30px 30px 40px 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(243, 246, 250, 0.04);
	backdrop-filter: blur(2px);
	border-radius: 8px;
/*	color: rgba(19, 10, 22, 1);*/
	opacity: 0;
	width: 100%;
}

.resume-case h3 {
	margin-bottom: 5px;
	font-weight: 500;
	font-size: 18px;
	text-align: left;
}

.skills-case {
	gap: 10px;
	animation: append-animate 0.5s ease-out 0.2s forwards;
}

.subskill-case {
	width: 100%;
}

.skill-line {
	padding: 2px 5px;
	width: 100%;
	justify-content: space-between;
	transition: all ease 0.2s;
}

.skill-line:hover {
	background-color: rgba(243, 246, 250, 0.04);
	border-radius: 5px;
}

.skill-line, .skill-value-case {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.skill-name {
	min-width: 150px;
	max-width: 100%;
	font-weight: 300;
	font-size: 16px;
	margin: 0;
	cursor: default;
}

.skill-value-case {
	gap: 1px;
}

.skill-circle {
	width: 20px;
	height: 20px;
	opacity: 0.9;
}

.skill-circle svg {
	width: 100%;
	height: 100%;
}

.skill-line:hover stop:first-child {
	animation: rotateStopGrad1 3s ease infinite;
}

.skill-line:hover stop:last-child {
	animation: rotateStopGrad2 3s ease infinite;
}

.education-case {
	animation: append-animate 0.5s ease-out 0.4s forwards;
}

@media screen and (max-width: 768px) {
	.resume-root-case {
		flex-direction: column;
		padding: 0 5%;
	}

	.skill-name {
		min-width: 125px;
	}
}

@media screen and (max-width: 425px) {
	.skill-circle {
		width: 18px;
		height: 18px;
	}
}

@keyframes rotateStopGrad1 {
    0% {
        stop-color: #cf59e6;
    }

    50% {
        stop-color: #5699e9;
    }

    to {
        stop-color: #cf59e6;
    }
}

@keyframes rotateStopGrad2 {
    0% {
        stop-color: #5699e9;
    }

    50% {
        stop-color: #cf59e6;
    }

    to {
        stop-color: #5699e9;
    }
}
