.works-global-container {
	min-height: 100vh;
}

.works-root-container {
	display: flex;
	justify-content: center;
	padding: 100px 0 ;
	position: relative;
}

.workpanel-global-container:before {
	left: 50%;
    content: '';
    display: block;
/*    background-color: rgba(19, 10, 22, 1);*/ /*Light*/
/*	border: dashed 1px #c2bec4;*/
/*	background-color: #c2bec4;*/
	background: repeating-linear-gradient(to bottom, transparent, transparent 10px, #c2bec4 10px, #c2bec4 210px,
		transparent 210px,transparent 250px, #c2bec4 250px, #c2bec4 435px, transparent 435px, transparent 475px,
		#c2bec4 475px, #c2bec4 660px, transparent 660px, transparent 700px, #c2bec4 700px, #c2bec4 885px, transparent 885px,
	 	transparent 925px, #c2bec4 925px, #c2bec4 950px, transparent 100%);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 20px;
	animation: append-animate 0.5s ease-out forwards;
}

.svg-circle-top {
	position: absolute;
	width: 20px;
	height: 20px;
	opacity: 0;
	animation: append-animate 0.5s ease-out forwards;
}

.svg-circle-top svg {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
}

.workpanel-global-container {
	width: 1200px;
	position: relative;
	list-style: none;
	padding: 0 0 300px 0;
	margin: 0;
}

@media screen and (max-width: 1024px) {
	.workpanel-global-container:before {
		background: linear-gradient(to bottom, transparent, transparent 10px, #c2bec4 10px, #c2bec4 90%, transparent 100%);
	}
}