.work-dialog {
	border: none;
	border-radius: 8px;
	padding: 0;
	width: 60%;
	height: 85vh;
	pointer-events: auto;
	background-color: rgba(14,16,18, 0.8);
	border: none;
}

.work-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.inside-dialog {
	width: 100%;
	height: 100%;
	padding: 2em;
	display: flex;
	flex-direction: column;
}

.cross-modal {
	align-self: flex-end;
	display: flex;
	height: 40px;
	width: 40px;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease-out;
}

.cross-modal:hover {
	background-color: rgba(243, 246, 250, 0.1);
}

.cross-modal-svg {
	height: 100%;
}

.cross-modal-svg path {
	stroke: #f3f6fa;
}

.work-dialog-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5%;
	position: relative;
}

.work-dialog-header-img {
	flex-grow: 2;
	min-width: 30%;
	display: flex;
	justify-content: center;
	background-color: rgba(243, 246, 250, 0.06);
	padding: 20px;
}

.work-dialog-header-img img {
	width:100%;
	height: 100%;
}

.work-dialog-header-text {
	flex-shrink: 3;
	position: relative;
}

.dialog-work-year {
	margin-bottom: 1em;
}

.work-url {
	position: absolute;
	right: 10%;
	top: 0;
	width: 95px;
	text-decoration: none;
	padding: 0.3em 0;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 1px solid rgba(243, 246, 250, 0.8);
	background-color: rgba(243, 246, 250, 0.05);
}

.dialog-link-arrow {
	height: 18px;
	transform: rotate(-90deg);
}

.work-url:hover {
	background-color: rgba(243, 246, 250, 0.15);
}

.work-url:hover .dialog-link-arrow {
	animation: bounceRight 0.8s infinite ;
}

.skill-tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	list-style: none;
	margin-top: 2em;
	padding: 0;
}

.skill-tags li {
	border-radius: 20px;
	border: 1px solid rgba(243, 246, 250, 0.5);
	background-color: rgba(243, 246, 250, 0.05);
	padding: 0.2em 0.5em 0.3em 0.5em;
}

.work-dialog-images-grid {
	padding-bottom: 2em;
	margin-top: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	justify-items: stretch;
	align-items: center;
}

.work-dialog-images-grid-item {
	position: relative;
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
/*	background-color: rgba(19, 10, 22, 0.5);*/
}

.work-dialog-images-grid-item img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

.images-grid-item__large {
	grid-column: span 2;
}

.work-dialog-images-grid-item video {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 1024px) {
	.work-url {
		position: static;
		margin-bottom: 1em;
	}
}

@media screen and (max-width: 768px) {
	.work-dialog {
		width: 90%;
	}
}

@media screen and (max-width: 425px) {
	.work-dialog-header {
		flex-direction: column;
		gap: 30px;
	}

	.work-dialog-images-grid {
		grid-template-columns: 1fr;
	}

	.images-grid-item__large {
		grid-column: span 1;
	}
}


@keyframes bounceRight {
	from {
		animation-timing-function: ease-out;
		transform: rotate(-90deg) translateY(0);
	}

	50% {
		animation-timing-function: ease-in;
		transform: rotate(-90deg) translateY(5px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: rotate(-90deg) translateY(0);
	}
}