.works-global-container {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	margin: auto;
	padding: 100px 0 ;
	background-color: rgba(234, 230, 236, 1);
}

.svg-circle-top {
	position: relative;
	width: 25px;
	height: 25px;
}

.svg-circle-top svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

.workpanel-global-container {
	padding: 150px 0;
	width: 1400px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.work-container-child {
	width: 50%;
}

.work-year-container {
	display: flex;
	align-items: center;
}

.work-year-container-even {
	padding-left: 30%;
	justify-content: flex-start;
}

.work-year-container-odd {
	justify-content: flex-end;
}