.workpanel-root-case {
	display: flex;
	flex-direction: column;
	opacity: 0;
	animation: append-animate 0.5s ease-out 0.2s forwards;
}

.workpanel-root-case:nth-child(2) {
	animation-delay: 0.4s;
}

.workpanel-root-case:nth-child(3) {
	animation-delay: 0.6s;
}

.workpanel-root-case:nth-child(4) {
	animation-delay: 0.8s;
}

.workpanel-content-case {
	pointer-events: auto;
	width: 700px;
	height: 400px;
/*	background-color: rgba(19, 10, 22, 1);*/
	z-index: 2;
	color: white;
	position: relative;
	cursor: pointer;
	border-radius: 15px;
}

.workpanel-content-case:after { /* Dark */
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(14, 16, 18, 0.3);
}

.workpanel-content-perspective {
	perspective: 1000px;
	z-index: 1;
}

.workpanel-element.odd .workpanel-content-perspective {
	align-self: flex-start;
	transform: translate(-25px,0);
}

.workpanel-element.even .workpanel-content-perspective {
	align-self: flex-end;
	transform: translate(25px,0);
}

.workpanel-element {
	margin-top: 50px;
	width: 600px;
	height: 400px;
}

.workpanel-element.even {
	position: relative;
	float: left;
	top: 225px;
}

.workpanel-element.odd {
	position: relative;
	float: right;
}

.workpanel-element:before {
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	top: calc(50% - 1px);
/*	background-color: rgba(19, 10, 22, 1);*/
	background-color: #c2bec4;
}

.workpanel-element.odd:before {
	left: 15px;
}

.workpanel-element.even:before {
	right: 15px;
}

.workpanel-element:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	top: 50%;
/*	background-color: rgba(19, 10, 22, 1);*/
	background-color: #c2bec4;
/*background-color: white;*/
}

.workpanel-element.odd:after {
	left: 0;
	transform: translateX(-50%) translateY(-50%);
}

.workpanel-element.even:after {
	right: 0;
	transform: translateX(50%) translateY(-50%);
}

.workpanel-element.odd .workpanel-content-case:hover,
.workpanel-element.even .workpanel-content-case:hover {
	transform: rotateY(0) scale(1);
}

.workpanel-element.odd .workpanel-content-case {
	transform: rotateY(-15deg) scale(0.67);
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
}

.workpanel-element.even .workpanel-content-case {
	transform: rotateY(15deg) scale(0.67);
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
}

.workpanel-case-year {
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 26px;
}

.workpanel-element.even .workpanel-case-year {
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 100%;
	padding-left: 20px;
}

.workpanel-element.odd .workpanel-case-year {
	padding-left: 20px;
	transform: translateX(-100%) translateY(-50%);
	-webkit-transform: translateX(-100%) translateY(-50%);
	padding-right: 20px;
}

.workpanel-content-case-hover {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	background-color: rgba(19, 10, 22, 0.75);
	transition: opacity 0.5s ease 0.15s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: inherit;
    --x-px: calc(var(--x) * 1px);
    --y-px: calc(var(--y) * 1px);
}

.workpanel-content-case-hover img {
	max-width: 70%;
	max-height: 20%;
}

.workpanel-content-case-hover.isHover {
	opacity: 1;
}

.workpanel-content-case-hover:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	background: radial-gradient(600px circle at var(--x-px) var(--y-px), rgba(255, 255, 255, 0.14), transparent 40%);
}

.workpanel-content-case > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}

@media screen and (max-width: 1400px) {
	.workpanel-element {
		width: 50%;
		height: 300px;
	}

	.workpanel-element.even {
		top: 170px;
	}

	.workpanel-content-case {
		width: 525px;
		height: 300px;
	}
}


@media screen and (max-width: 1024px) {
	.workpanel-element {
		width: 50%;
		height: 200px;
	}

	.workpanel-element.even {
		top: 130px;
	}

	.workpanel-content-case {
		width: 350px;
		height: 200px;
	}

	.workpanel-element:after {
		width: 10px;
		height: 10px;
	}

	.workpanel-element.odd .workpanel-content-case {
		transform: rotateY(-15deg) scale(0.8);
	}

	.workpanel-element.even .workpanel-content-case {
		transform: rotateY(15deg) scale(0.8);
	}

	.workpanel-element.odd .workpanel-content-perspective {
		transform: translate(0,0);
	}

	.workpanel-element.even .workpanel-content-perspective {
		transform: translate(0,0);
	}
}

@media screen and (max-width: 768px) {
	.workpanel-global-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
		padding: 20px 0;
		width: 100vw;
	}

	.workpanel-root-case {
		gap: 1em;
		justify-content: center;
		align-items: center;
	}

	.workpanel-element.odd {
	    float: none;
	}

	.workpanel-element.even {
	    float: none;
	}

	.workpanel-content-perspective {
		perspective: none;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
	}

	.workpanel-element {
		margin: 0;
		width: 100%;
		height: auto;
	}

	.workpanel-element:before {
		content: none;
	}

	.workpanel-element:after {
		content: none;
	}

	.workpanel-element.odd .workpanel-content-perspective {
		align-self: center;
	}

	.workpanel-element.even {
		top: 0;
	}

	.workpanel-element.odd .workpanel-case-year {
	    padding: 0;
	    transform: translateX(-100%) translateY(0);
	    -webkit-transform: translateX(-100%) translateY(0);
	}

	.workpanel-element.even .workpanel-case-year {
	    padding: 0;
	    transform: translateX(100%) translateY(0);
	    -webkit-transform: translateX(100%) translateY(0);
	}

	.workpanel-case-year {
	    position: static;
	    max-width: 50%;
	}

	.workpanel-case-year p {
		margin: 0;
	}

	.workpanel-element.even .workpanel-content-case, .workpanel-element.odd .workpanel-content-case {
		transform: none;
		max-width: 700px;
		width: 100%;
		height: 100%;
	}

	.workpanel-content-case-hover {
		opacity: 1;
	}

	.workpanel-content-case > img {
		max-height: 100%;
		width: 100%;
	}
}