.workpanel-root-case {
	display: flex;
	flex-direction: column;
	opacity: 0;
	animation: append-animate 0.5s ease-out 0.2s forwards;
}

.workpanel-root-case:nth-child(2) {
	animation-delay: 0.4s;
}

.workpanel-root-case:nth-child(3) {
	animation-delay: 0.6s;
}

.workpanel-root-case:nth-child(4) {
	animation-delay: 0.8s;
}

.workpanel-content-case {
	width: 700px;
	height: 400px;
	background-color: rgba(19, 10, 22, 1);
	z-index: 2;
	color: white;
	position: relative;
	cursor: pointer;
}

.workpanel-content-perspective {
	perspective: 1000px;
	z-index: 1;
}

.workpanel-element.odd .workpanel-content-perspective {
	align-self: flex-start;
	transform: translate(-25px,0);
}

.workpanel-element.even .workpanel-content-perspective {
	align-self: flex-end;
	transform: translate(25px,0);
}

.workpanel-element {
	margin-top: 50px;
	width: 600px;
	height: 400px;
}

.workpanel-element.even {
	position: relative;
	float: left;
	top: 225px;
}

.workpanel-element.odd {
	position: relative;
	float: right;
}

.workpanel-element:before {
	content: "";
	position: absolute;
	width: 80%;
	height: 1px;
	top: calc(50% - 1px);
	background-color: rgba(19, 10, 22, 1);
}

.workpanel-element.odd:before {
	left: 0;
}

.workpanel-element.even:before {
	right: 0;
}

.workpanel-element:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: 50%;
	background-color: rgba(19, 10, 22, 1);
}

.workpanel-element.odd:after {
	left: 0;
	transform: translateX(-50%) translateY(-50%);
}

.workpanel-element.even:after {
	right: 0;
	transform: translateX(50%) translateY(-50%);
}

.workpanel-element.odd .workpanel-content-case:hover,
.workpanel-element.even .workpanel-content-case:hover {
	transform: rotateY(0) scale(1);
}

.workpanel-element.odd .workpanel-content-case {
	transform: rotateY(-15deg) scale(0.67);
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
}

.workpanel-element.even .workpanel-content-case {
	transform: rotateY(15deg) scale(0.67);
	transition: transform 0.5s ease;
	transform-style: preserve-3d;
}

.workpanel-case-year {
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 26px;
}

.workpanel-element.even .workpanel-case-year {
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	left: 100%;
	padding-left: 20px;
}

.workpanel-element.odd .workpanel-case-year {
	padding-left: 20px;
	transform: translateX(-100%) translateY(-50%);
	-webkit-transform: translateX(-100%) translateY(-50%);
	padding-right: 20px;
}

.workpanel-content-case-hover {
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	background-color: rgba(19, 10, 22, 0.6);
	transition: opacity 0.5s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.workpanel-content-case-hover img {
	max-width: 70%;
	max-height: 20%;
}

.workpanel-content-case-hover.isHover {
	opacity: 1;
}

.workpanel-image img {
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}