@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,300;0,400;0,500;1,400&display=swap');
/*@import url("https://use.typekit.net/pxx8vmi.css");*/

@font-face {
    font-family: 'Fender';
    src: url('./fonts/fender/fender.otf');
}

@font-face {
    font-family: 'Vantonir';
    src: url('./fonts/vantonir/vantonir.otf');
}

@font-face {
    font-family: 'Bartina';
    src: url('./fonts/bartina/bartina-regular.ttf');
}

@font-face {
    font-family: 'Thisjuly';
    src: url('./fonts/thisjuly/ThisJuly.otf');
    src: url('./fonts/thisjuly/ThisJuly.ttf');
}

body {
  margin: 0;
  position: relative;
  background-color: #0e1012;
}

body * {
    box-sizing: border-box;
/*    font-family: 'franklin-gothic-atf', 'Hanken Grotesk', sans-serif;*/
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*  outline: 1px solid red;*/
    color: #f3f6fa;
}

h1, h2, h4.dialog-work-title {
    font-family: 'Vantonir', 'Bartina';
    font-size: 1.8em;
    margin: 0;
}

.blue-color {
    color: #5699e9;
}

p {
    margin: 0;
    font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main:last-child {
    z-index: 1;
}

@keyframes append-animate {
  from {
    opacity: 0;
    transform: translate(0,150px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: none;
  }
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}


@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}